header {
background-color: #FF8000;
color: #FFFFFF;
}

#__page0-intHeader {
background-color: #FF8000;
}

#__page0-title-inner {
color: #FFFFFF;
}

#__page1-intHeader {
background-color: #FF8000;
}

#__page1-title-inner {
color: #FFFFFF;
}

#__page2-intHeader {
background-color: #FF8000;
}

#__page2-title-inner {
color: #FFFFFF;
}

#__text0 {
color: #FF8000;
}

#container-uren-schrijven-demo-pwa---Master--HeaderToolbar {
background-color: #000000;
color: #FF8000;
}

#__page0-cont {
background-image: url('../image/background_login.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}